<!-- S3 Bucket Explorer Version: 1.10.0 -->

<!DOCTYPE html>
<html lang="en" style="overflow-y: auto;">

<head>
  <script>
    const config = {
      title: 'OpenBioRefData Repository',
      subtitle: 'Open Data repository for BioConductor and Galaxy projects',
      logo: 'https://s3.ap-southeast-2.amazonaws.com/biorefdata/logo.png',
      favicon: 'https://s3.ap-southeast-2.amazonaws.com/biorefdata/favicon.ico',
      primaryColor: '#167df0',

      bucketUrl: 'http://s3.ap-southeast-2.amazonaws.com/biorefdata/',
      // If bucketUrl is undefined, this script tries to determine bucket Rest API URL from this file location itself.
      //   This will only work for locations like these
      //   * https://s3.BUCKET-REGION.amazonaws.com/BUCKET-NAME/index.html
      //   * http://BUCKET-NAME.s3-website-BUCKET-REGION.amazonaws.com/index.html
      //   * https://storage.googleapis.com/BUCKET-NAME/index.html
      //   * https://BUCKET-NAME.s3-web.BUCKET-REGION.cloud-object-storage.appdomain.cloud/
      // If bucketUrl is set manually, ensure this is the bucket Rest API URL, e.g.
      //   * https://s3.BUCKET-REGION.amazonaws.com/BUCKET-NAME
      //   * https://storage.googleapis.com/BUCKET-NAME
      //   The URL should return an XML document with <ListBucketResult> as root element.
      rootPrefix: undefined, // e.g. 'subfolder/'
      // The last pattern excludes any file/folder starting with a period, assumed to be hidden or system files
      keyExcludePatterns: [/^index\.html$/, /^favicon\.ico$/, /^logo\.png$/, /^index\.html$/, /\/\./],
      pageSize: 50,

      bucketMaskUrl: undefined,
      // If bucketMaskUrl is set file urls will be changed from ${bucketUrl}/${file} to ${bucketMaskUrl}/${file}
      //   bucketMaskUrl: 'https://example.org'
      //     => https://example.org/foo/bar.txt
      //   bucketMaskUrl: document.location.origin
      //     => ${document.location.origin}/foo/bar.txt

      defaultOrder: 'name-asc' // (name|size|dateModified)-(asc|desc)
    }
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link id="favicon" rel="shortcut icon" />

  <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js" integrity="sha384-ULpZhk1pvhc/UK5ktA9kwb2guy9ovNSTyxPNHANnA35YjBQgdwI+AhLkixDvdlw4" crossorigin="anonymous"></script>
  <script>Vue.config.productionTip = false;</script>
  <style>[v-cloak] {display: none}</style>

  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.8.55/css/materialdesignicons.min.css" integrity="sha384-mXn03l3egUmSn2pZYz33om5XpEK6GclFj/DZp48zhus7gXuJlYs806Zpmhgy9MKb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
  <script src="https://unpkg.com/buefy@0.9.20/dist/buefy.min.js" integrity="sha384-J9o3RORmJhOZllvo14aPtzAeqyZjQ2TXL/ufXY1QYXc2RMuH72o0je0H+X6XBRi/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/buefy@0.9.20/dist/buefy.min.css" integrity="sha384-QIdDkCURVg1BoIxyipzY5/NWEYfyx1pn30/Hmrbs12sHMf5XCrE2eWfQ2yafeoBy" crossorigin="anonymous">
  <script src="https://unpkg.com/moment@2.29.1/min/moment.min.js" integrity="sha384-Uz1UHyakAAz121kPY0Nx6ZGzYeUTy9zAtcpdwVmFCEwiTGPA2K6zSGgkKJEQfMhK" crossorigin="anonymous"></script>
</head>

<body >
  <div id="app" v-cloak :style="cssVars">
    <!-- Header -->
    <div class="level">
      <div class="level-left" style="display: flex;">
        <figure class="level-item image is-96x96" style="margin-right: 1.5rem;">
          <img :src="config.logo" />
        </figure>
        <div>
          <h1 class="title">{{config.title}}</h1>
          <h2 class="subtitle">{{config.subtitle}}</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Navigation Bar -->
      <div class="container is-clearfix" style="margin-bottom: 1rem;">
        <!-- Prefix Breadcrumps -->
        <div class="buttons is-pulled-left" style="width: 100%;">
          <b-button v-for="(breadcrump, index) in pathBreadcrumps" v-bind:key="breadcrump.url"
            type="is-primary" rounded
            tag="a"
            :href="breadcrump.url"
            target=""
            icon-pack="fa"
            :icon-left="index == 0 ? 'bucket': ''"
            :style="{ fontWeight: index == 0 ? 'bolder': ''}"
            style="white-space: pre;"
            >
            <template v-if="index > 0">{{ breadcrump.name }}</template>
          </b-button>
          <div class="container" style="display: flex;">
            <!-- Prefix Search Input -->
            <b-field :type="!validBucketPrefix(searchPrefix) ? 'is-danger' : ''"
                :class="searchPrefix && pathPrefix.replace(/^.*\//,'') === searchPrefix ? 'search-prefix-matches-path-prefix' : ''"
                style="flex: auto;">
                <b-input
                    rounded
                    v-model="searchPrefix"
                    placeholder="search by prefix"
                    icon="magnify"
                    icon-clickable
                    @icon-click="searchByPrefix"
                    :icon-right="searchPrefix !== '' ? 'close-circle' : ''"
                    icon-right-clickable
                    @icon-right-click="searchPrefix = ''; searchByPrefix()"
                    @keyup.enter.native="searchByPrefix">
                </b-input>
            </b-field>

            <!-- Paginating Buttons -->
            <div class="container" v-show="nextContinuationToken || previousContinuationTokens.length > 0"
              style="display: contents;">
              <b-button
                type="is-primary" rounded
                icon-pack="fas"
                icon-left="angle-left"
                @click="previousPage"
                :disabled="previousContinuationTokens.length === 0"
                style="margin-left: 2rem;">
              </b-button>
              <b-button
                type="is-primary" rounded
                icon-pack="fas"
                icon-right="angle-right"
                @click="nextPage"
                :disabled="!nextContinuationToken"
                >
              </b-button>
            </div>
          </div>
        </div>


      </div>

      <!-- Content Table -->
      <b-table
        :data="pathContentTableData"
        :default-sort="config.defaultOrder.split('-')[0]"
        :default-sort-direction="config.defaultOrder.split('-')[1]"
        :mobile-cards="true"
        >
        <b-table-column
          v-slot="props"
          field="name"
          label="Name"
          sortable :custom-sort="sortTableData('name')"
          cell-class="name-column"
          >
          <div style="display: flex; align-items: center;">
            <b-icon
              pack="far"
              :icon="props.row.type === 'prefix' ? 'folder' : 'file-alt'"
              class="name-column-icon"
              >
            </b-icon>
            <div style="text-align: left;">
              <b-button
                type="is-text" rounded
                tag="a"
                :href="props.row.type === 'content' ? props.row.url : `#${props.row.prefix}`"
                @click="document.activeElement.blur()"
                style="text-align: left; white-space: pre-wrap;"
                >
                <template>{{ props.row.name }}</template>
              </b-button>
              <br>
              <b-button
                v-if="props.row.installUrl"
                type="is-primary" rounded outlined
                tag="a"
                :href="props.row.installUrl"
                class="name-column-install-button"
                >
                Install
              </b-button>
            </div>
          </div>

          <div
            v-if="cardView && (props.row.size || props.row.dateModified)"
            class="name-column-details"
            >
            <div>{{ formatBytes(props.row.size) }}</div>

            <b-tooltip
              :active="!!props.row.dateModified"
              type="is-light"
              size="is-small"
              position="is-left"
              animated
              multilined
              >
              <div>{{ formatDateTime_relative(props.row.dateModified) }}</div>
              <template v-slot:content>
                <span>{{ formatDateTime_date(props.row.dateModified) }}</span>
                <br>
                <span>{{ formatDateTime_time(props.row.dateModified) }}</span>
              </template>
            </b-tooltip>

          </div>
        </b-table-column>
        <b-table-column
          v-slot="props"
          field="size" numeric
          label="Size"
          sortable :custom-sort="sortTableData('size')"
          centered width="128"
          cell-class="size-column"
          >
          {{ formatBytes(props.row.size) }}
        </b-table-column>
        <b-table-column
          v-slot="props"
          field="dateModified"
          label="Date Modified"
          sortable :custom-sort="sortTableData('dateModified')"
          centered width="256"
          cell-class="modified-column"
          >
          <b-tooltip
            :active="!!props.row.dateModified"
            type="is-light"
            size="is-small"
            position="is-left"
            animated
            multilined
            >
            <div>{{ formatDateTime_relative(props.row.dateModified) }}</div>
            <template v-slot:content>
              <span>{{ formatDateTime_date(props.row.dateModified) }}</span>
              <br>
              <span>{{ formatDateTime_time(props.row.dateModified) }}</span>
            </template>
          </b-tooltip>
        </b-table-column>
      </b-table>

      <!-- Paginating Buttons -->
      <div class="container is-clearfix" style="margin-top: 1rem;">
        <div v-show="nextContinuationToken || previousContinuationTokens.length > 0"
          class="buttons is-pulled-right">
          <b-button
            type="is-primary" rounded
            icon-pack="fas"
            icon-left="angle-left"
            @click="previousPage"
            :disabled="previousContinuationTokens.length === 0"
            >
          </b-button>
          <b-button
            type="is-primary" rounded
            icon-pack="fas"
            icon-right="angle-right"
            @click="nextPage"
            :disabled="!nextContinuationToken"
            >
          </b-button>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer-bucket-url">
      <a :href="`${config.bucketUrl}?prefix=${bucketPrefix}`"><b>Bucket:</b> {{ config.bucketUrl }}</a>&nbsp;
      <a :href="`https://github.com/qoomon/aws-s3-bucket-browser`"><b>Website credits:</b> https://github.com/qoomon/aws-s3-bucket-browser</a>
    </div>
  </div>

  <script>
    function escapeRegExp(text) {
      // $& means the whole matched string
      return text.replace(/[.*+?^${}()|[\]\\]/g, '\\$&')
    }

    function escapeHTML(text) {
      let div = document.createElement('div')
      div.innerText = text
      return div.innerHTML
    }

    function devicePlatform_iOS() {
      return /iPad|iPhone|iPod/.test(navigator.platform) ||
        (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1)
    }
  </script>


  <!-- Main Script -->

  <script>
    if (!config.bucketUrl) {
      // try get bucket url by request parameter
      config.bucketUrl = new URL(window.location).searchParams.get('bucket')
    }
    if (!config.bucketUrl) {
      config.bucketUrl = window.location.href
    }

    // try adjusting bucket url to bucket rest api endpoint
    let match
    let type

    if (!match) {
      type = 'AWS'
      // check for urls like https://s3.eu-central-1.amazonaws.com/example-bucket/index.html
      match = config.bucketUrl.match(/(?<protocol>[^:]+):\/\/s3\.(?<region>[^.]+)\.amazonaws.com\/(?<name>[^/]+)/)
    }
    if (!match) {
      type = 'AWS'
      // check for urls like http://example-bucket.s3-website-eu-west-1.amazonaws.com/index.html
      match = config.bucketUrl.match(/(?<protocol>[^:]+):\/\/(?<name>[^.]+)\.s3-website-(?<region>[^.]+)\.amazonaws\.com/)
    }
    if (!match) {
      type = 'AWS'
      // check for urls like http://example-bucket.s3-website.eu-central-1.amazonaws.com/index.html
      match = config.bucketUrl.match(/(?<protocol>[^:]+):\/\/(?<name>[^.]+)\.s3-website\.(?<region>[^.]+)\.amazonaws\.com/)
    }
     if (!match) {
      type = 'GCP'
      // check for urls like https://storage.googleapis.com/example-bucket/index.html
      match = config.bucketUrl.match(/(?<protocol>[^:]+):\/\/storage\.googleapis\.com\/(?<name>[^.]+)/)
    }
    if (!match) {
      type = 'IBM'
      // check for urls like http://example-bucket.s3-web.us-south.cloud-object-storage.appdomain.cloud/index.html
      match = config.bucketUrl.match(/(?<protocol>[^:]+):\/\/(?<name>[^.]+)\.s3-web\.(?<region>[^.]+)\.cloud-object-storage\.appdomain\.cloud/)
    }

    if (match) {
      switch (type) {
        case 'AWS':
          config.bucketUrl = `${match.groups.protocol}://s3.${match.groups.region}.amazonaws.com/${match.groups.name}`
          break;
        case 'GCP':
          config.bucketUrl = `${match.groups.protocol}://storage.googleapis.com/${match.groups.name}`
          break;
        case 'IBM':
          config.bucketUrl = `${match.groups.protocol}://${match.groups.name}.s3.${match.groups.region}.cloud-object-storage.appdomain.cloud/`
          break;
      }
    }

    console.log("Bucket REST API: " + config.bucketUrl)

    config.rootPrefix = config.rootPrefix || ''
    if (config.rootPrefix) {
      config.rootPrefix = config.rootPrefix.replace(/\/?$/, '/') // ensure trailing slash
      console.log("Bucket Root Prefix: " + config.rootPrefix)
    }

    document.title = config.title
    document.getElementById('favicon').href = config.favicon

    Vue.use(Buefy.default, {
      defaultIconPack: 'fa'
    })

    new Vue({
      el: '#app',
      data: {
        config, // defined in <head> section
        pathPrefix: '',
        searchPrefix: '',
        pathContentTableData: [],

        previousContinuationTokens: [],
        continuationToken: undefined,
        nextContinuationToken: undefined,

        windowWidth: window.innerWidth
      },
      computed: {
        cssVars() {
          return {
            '--primary-color': this.config.primaryColor
          }
        },
        pathBreadcrumps() {
          return ['', ...(this.pathPrefix.match(/[^/]*\//g) || [])]
            .map((pathPrefixPart, index, pathPrefixParts) => ({
              name: decodeURI(pathPrefixPart),
              url: '#' + pathPrefixParts.slice(0, index).join('') + pathPrefixPart
            }))
        },
        cardView() {
          return this.windowWidth <= 768
        },
        bucketPrefix() {
          return `${config.rootPrefix}${this.pathPrefix}`
        }
      },
      watch: {
        pathPrefix() {
          this.previousContinuationTokens = []
          this.continuationToken = undefined
          this.nextContinuationToken = undefined
          this.searchPrefix = this.pathPrefix.replace(/^.*\//, '')
          window.location.hash = this.pathPrefix
          this.refresh()
        }
      },
      methods: {
        moment,
        validBucketPrefix(prefix) {
          if(prefix === '') return true
          if(prefix.startsWith(' ') || prefix.endsWith(' ')) return false
          if(prefix.includes('//')) return false
          if(prefix.startsWith('/') && this.bucketPrefix.includes('/')) return false
          return true
        },
        searchByPrefix() {
          if(this.validBucketPrefix(this.searchPrefix)){
              const pathPrefixDir = this.pathPrefix.replace(/[^/]*$/, '')
              this.pathPrefix = pathPrefixDir + this.searchPrefix
          }
        },
        previousPage() {
          if (this.previousContinuationTokens.length > 0) {
            this.continuationToken = this.previousContinuationTokens.pop()
            this.refresh()
          }
        },
        nextPage() {
          if (this.nextContinuationToken) {
            this.previousContinuationTokens.push(this.continuationToken)
            this.continuationToken = this.nextContinuationToken
            this.refresh()
          }
        },
        async refresh() {
          let listBucketResult
          try {
            if (!config.bucketUrl) {
              throw Error("Bucket URL is undefined!")
            }

            let bucketListApiUrl = `${config.bucketUrl}?list-type=2`
            bucketListApiUrl += `&delimiter=/`
            bucketListApiUrl += `&prefix=${this.bucketPrefix}`

            if (config.pageSize) {
              bucketListApiUrl += `&max-keys=${config.pageSize}`
            }
            if (this.continuationToken) {
              bucketListApiUrl += `&continuation-token=${encodeURIComponent(this.continuationToken)}`
            }
            let listBucketResultResponse = await fetch(bucketListApiUrl)
            let listBucketResultXml = await listBucketResultResponse.text()

            listBucketResult = new DOMParser().parseFromString(listBucketResultXml, "text/xml")
            if (!listBucketResult.querySelector('ListBucketResult > Delimiter')) {
              throw Error(`Bucket URL ${config.bucketUrl} is not a valid bucket API URL, response does not contain <ListBucketResult><Delimiter> tag.`)
            }
          } catch (error) {
            this.$buefy.notification.open({
              message: escapeHTML(error.message),
              type: 'is-danger',
              duration: 60000,
              position: 'is-bottom'
            })
            throw error
          }

          let nextContinuationTokenTag = listBucketResult.querySelector("NextContinuationToken")
          this.nextContinuationToken = nextContinuationTokenTag && nextContinuationTokenTag.textContent

          let commonPrefixes = [...listBucketResult.querySelectorAll("ListBucketResult > CommonPrefixes")]
            .map(tag => ({
              prefix: tag.querySelector('Prefix').textContent
                .replace(RegExp(`^${escapeRegExp(config.rootPrefix)}`), '')
            }))
            .filter(prefix => !config.keyExcludePatterns.find(pattern => pattern.test(prefix.prefix)))
            .map(prefix => ({
              type: 'prefix',
              name: prefix.prefix.split('/').slice(-2)[0] + '/',
              prefix: prefix.prefix
            }))

          let contents = [...listBucketResult.querySelectorAll("ListBucketResult > Contents")]
            .map(tag => ({
              key: tag.querySelector('Key').textContent,
              size: parseInt(tag.querySelector('Size').textContent),
              dateModified: new Date(tag.querySelector('LastModified').textContent)
            }))
            .filter(content => content.key !== decodeURI(this.bucketPrefix))
            .filter(content => !config.keyExcludePatterns.find(pattern => pattern.test(content.key)))
            .map(content => {
              if (content.key.endsWith('/') && !content.size) {
                return {
                  type: 'prefix',
                  name: content.key.split('/')[0] + '/',
                  prefix: `${this.pathPrefix}${content.key}`
                }
              }

              let url = `${(config.bucketMaskUrl || config.bucketUrl).replace(/\/*$/,'')}/${encodeURIComponent(content.key)}`

              let isPotentialSymlinkTarget = null;
              if (content.size < 256) {
                isPotentialSymlinkTarget = true;
              }

              let installUrl = undefined
              if (url.endsWith('/manifest.plist') && devicePlatform_iOS()) {
                // generate manifest.plist install urls
                installUrl = `itms-services://?action=download-manifest&url=${encodeURIComponent(url)}`
              }
              return {
                type: 'content',
                name: content.key.split('/').slice(-1)[0],
                size: content.size,
                dateModified: content.dateModified,
                key: content.key,
                isPotentialSymlink: isPotentialSymlinkTarget,
                url,
                installUrl
              }
            })

          for (const c of contents) {
            if (c.isPotentialSymlink) {
              let target = await this.getSymlinkTarget(c.url);
              if (target) {
                // join symlink target with base url. A bit roundabout so we can url new URL() to join relative paths
                let parent_key = c.key.slice(0, c.key.lastIndexOf(c.name));
                let base_url = `http://tempdummy.com/${parent_key}`
                let new_target_path = new URL(target, base_url).pathname;
                // remove leading slash
                let relative_new_target_path = new_target_path.substring(1);
                if (target.endsWith("/")) {
                  // This is a symlink to a directory. Therefore, we need to change it back to a prefix type, instead of content
                  c.prefix = relative_new_target_path;
                  c.type = 'prefix';
                  c.name = c.name + "/";
                }
                else {
                  // Assign the actual symlink target url
                  c.url = `${(config.bucketMaskUrl || config.bucketUrl).replace(/\/*$/, '')}/${encodeURIComponent(relative_new_target_path)}`;
                }
              }
            }
          }

          this.pathContentTableData = [...commonPrefixes, ...contents]
        },
        async getSymlinkTarget(url) {
          let options = {
            method: 'HEAD'
          }
          let headObjectResponse = await fetch(url, options);
          // This header is set by geesefs for symlinks only
          return headObjectResponse.headers.get("x-amz-meta---symlink-target");
        },
        sortTableData(columnName) {
          return (rowA, rowB, isAsc) => {
            // prefixes always first
            if (rowA.type != rowB.type) {
              return rowA.type === 'prefix' ? -1 : 1
            }

            const valueA = rowA[columnName]
            const valueB = rowB[columnName]
            if (valueA != valueB) {
              if (valueA === undefined) {
                return isAsc ? -1 : 1
              }
              if (valueB === undefined) {
                return isAsc ? 1 : -1
              }
              return isAsc ?
                (valueA < valueB ? -1 : 1) :
                (valueA < valueB ? 1 : -1)
            }

            return 0
          }
        },
        formatBytes(size) {
          if (!size) {
            return '-'
          }
          const KB = 1024
          if (size < KB) {
            return size + '  B'
          }
          const MB = 1000000
          if (size < MB) {
            return (size / KB).toFixed(0) + ' KB'
          }
          const GB = 1000000000
          if (size < GB) {
            return (size / MB).toFixed(2) + ' MB'
          }
          return (size / GB).toFixed(2) + ' GB'
        },
        formatDateTime_date(date) {

          return date ? moment(date).format('ddd, DD. MMM YYYY') : '-'
        },
        formatDateTime_time(date) {
          return date ? moment(date).format('hh:mm:ss') : '-'
        },
        formatDateTime_relative(date) {
          return date ? moment(date).fromNow() : '-'
        }
      },
      async mounted() {
        window.onpopstate = () => this.pathPrefix = decodeURIComponent(window.location.hash).replace(/^#/, '')
        window.onpopstate()
        window.addEventListener('resize', () => {
          this.windowWidth = window.innerWidth
        })

        this.refresh()
      },
      async beforeDestroy() {
        window.removeEventListener('resize')
      }
    })
  </script>

  <style scoped>
    body {
      width: 100vw;
      min-height: 100vh;
      position: relative;
      padding: 1.25rem 2.5rem 2.5rem 1.5rem;
      background-color: #f5f5f5;
      overflow-y: auto;
    }

    .buttons .field {
      margin-bottom: 0.5rem;
    }
    .button.is-primary {
      background-color: var(--primary-color) !important;
    }
    .button.is-primary.is-outlined {
      background-color: transparent !important;
      border-color: var(--primary-color) !important;
      color: var(--primary-color) !important;
    }
    .button.is-text {
      padding: 0 !important;
      height: auto !important;
      text-decoration: none !important;
      box-shadow: none !important;
      background-color: unset !important;
      user-select: text !important;
      color: var(--primary-color) !important;
      font-weight: 500;
    }

    .search-prefix-matches-path-prefix input.input {
      color: var(--primary-color) !important;
      font-weight: bold;
    }

    .button.is-primary:focus:not(:active) {
      box-shadow: inset 0px 0px 0px 0.1em #ffffffcc;
    }
    .input:focus:not(.is-danger),
    .select select:focus {
      border-color: var(--primary-color);
      box-shadow: none;
    }
    .select:not(.is-multiple):not(.is-loading)::after {
        border-color: var(--primary-color) !important;
    }

    .name-column-icon {
      display: block;
      text-align: left;
      flex-basis: 1.5rem;
      flex-grow: 0;
      flex-shrink: 0;"
    }

    .name-column-install-button {
      height: 0;
      padding: 0.6rem;
      margin-top: 0.4rem;
      font-size: 0.8rem;
    }

    .name-column-details {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-shrink: 0;
      min-width: 5rem;
      font-size: 0.85rem;
      line-height: 1.5rem;
      flex-direction: column;
  }

    .footer-bucket-url {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0.5rem;
      font-size: small;
      text-align: center;
      color: darkgray;
    }
    .footer-bucket-url a {
      color: inherit;
    }

    @media screen and (max-width: 768px) {
      .name-column::before {
        display: none !important;
      }

      .size-column,
      .modified-column {
        display: none !important;
      }
    }
  </style>
</body>

</html>
